.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #45e670;
    padding: 1% 5%;
    border-bottom: 2px solid red;

}
.navbar_logo {
    width: 150px;
    border-radius: 4px;
}

.navbar_input_field{
    margin-right: 20px;
    width: 200px;
    height: 20px;
}
