
.row_container_title{
    font-size: 28px;
    font-weight: 700;
    color: gray;
}

.movies_row_container{
    display: flex;
    align-items: center;
    background-color: yellow;
}

.movies_rows > img{
    /* width: 100px; */
     height: 200px;  /*width will be automatically adjusted */
     margin: 2px;
     transition: 0.5s;
     
}

.movies_rows > img:hover{
  transform: scale(1.2);  /*increses the size of the image by 1.2 times. scale(0.5) = decreases image by 0.5 times */
}